.selectUserBox {
}

.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darkBackground);
  color: var(--lightText);
  padding: 10px 20px;
  min-height: 40px;
}

.header {
  margin: 0;
}

.users {
  display: flex;
  flex-direction: column;
}

.userBox {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 0 20px;
  border-top: solid 1px var(--text);
}
.userBox {
  /* Ihr existierender Code */
  cursor: pointer;
  position: relative;
}

.userBox.active p {
  color: black; /* Standardtextfarbe, wenn aktiv */
}

.userBox .deleteText {
  display: none; /* Standardmäßig verstecken */
}

.userBox:hover .deleteText {
  display: flex; /* Anzeigen, wenn aktiv */
  color: red;  8
}
.searchbar {
  border: none;
  outline: none;
  background-color: var(--background);

  height: 40px;
  padding-left: 5px;
  width: 30%;
  font-size: 22x;
}

.searchbar:focus {
  border: none;
}
