.selectUserBox {}

.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darkBackground);
  color: var(--lightText);
  padding: 10px 20px;
  min-height: 40px;
}

.header {
  margin: 0;
}

.users {
  display: flex;
  flex-direction: column;
}

.userBox {
  padding: 0 20px;
  border-top: solid 1px var(--text);
}

.userBox:hover {
  background-color: var(--secondary);
}

.searchbar {
  border: none;
  outline: none;
  background-color: var(--background);

  height: 40px;
  padding-left: 5px;
  width: 30%;
  font-size: 22x;
}

.searchbar:focus {
  border: none;
}