.timelogBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.timelogHeader {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px var(--text);
  padding: 0 20px;
}

.timelogBox:hover .timelogHeader {
  background-color: #e8481d50;
}

.timelogBox:hover .timelogDetails {
  background-color: #e8481d50;
}



.regularBoldText {
  font-size: 16px;
  font-weight: 500;
}

.timelogDetails {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  border-top: solid 1px var(--text);
}

.regularText {
  font-size: 16px;
}

.detailRow {
  display: flex;
  justify-content: space-between;
}