.timelogTable {
  display: flex;
  flex-direction: column;
  width: 70%;

  margin-right: 20px;
}

.timelogTable {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  color: var(--lightText);
  padding: 10px 20px;
  height: 40px;
  margin: 0;
}

.columns {
  max-height: 700px;
  overflow-y: auto;
}