:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: var(--text);
  background-color: var(--background);

  --text: #000000;
  --background: #ffffff;
  --primary: #e8481d;
  --secondary: #bbbbbb;
  --accent: #ff0000;
  --lightText: var(--background);
  --darkBackground: var(--text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}